body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 45px;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin:0;
}

.bottom-container {
    margin:0;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto ;
  text-align: left;
  line-height: 2;
}

.strategy-img{
  width: 20%;
  float: left;
  margin-right: 30px;
}

.priority-img{
  width: 20%;
  float: right;
  margin-left:30px;
}
